* {
    scroll-behavior: smooth;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: #8BA892;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}


.hover-underline-animation-footer {
display: inline-block;
position: relative;
}

.hover-underline-animation-footer::after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 1px;
bottom: 0;
left: 0;
background-color: #50667F;
transform-origin: bottom right;
transition: transform 0.25s ease-out;
}

.hover-underline-animation-footer:hover::after {
transform: scaleX(1);
transform-origin: bottom left;
}


.dataInput:where(button, input, optgroup, select, textarea)  {
  color: #CCCCCC;
}

/* SLIDER STYLES */


.slider-control-centerright, .slider-control-centerleft {
  display: none;
}
.slider-control-bottomcenter ul {
  display: flex;
  gap: 20px;
}

.slider-control-bottomcenter .active button svg, .slider-control-bottomcenter button svg {
  fill: #FFFFFF;
}

.slider-control-bottomcenter ul svg {
  width: 15px;
  height: 15px;
}

